* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

/*---------------------------- TOP NAV CONTAINER -------------------------------*/
.container .top-nav-container {
  background-color: #2564cf;
  color: white;
  height: 48px;
  width: 100%;
}

.container .top-nav-container div {
  display: inline-block;
  margin-top: 3px;
}

.container .top-nav-container .dots-icon {
  width: 4%;
  text-align: center;
  word-spacing: -3px;
  font-size: 18px;
}

.container .top-nav-container .dots-icon:hover {
  cursor: pointer;
}

.container .top-nav-container .center-top-nav-container {
  width: 91%;
}

.container .top-nav-container .login {
  width: 4%;
  text-align: center;
}

.container .top-nav-container .center-top-nav-container div {
  display: inline-block;
}

.container .top-nav-container .center-top-nav-container .to-do {
  width: 12%;
  text-align: left;
  font-weight: 600;
}

.container .top-nav-container .center-top-nav-container .to-do:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container .top-nav-container .center-top-nav-container .search-bar {
  width: 69%;
  text-align: center;
}

.container .top-nav-container .center-top-nav-container .search-bar:hover {
  cursor: pointer;
}

.search {
  background-color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 24.5rem;
}

.search i {
  color: #2564cf;
  width: 5%;
  transform: rotate(90deg);
}

.container .top-nav-container .center-top-nav-container .search-bar #search {
  border: none;
  width: 92%;
  outline: none;
}

.container .top-nav-container .center-top-nav-container .icon-right {
  width: 18%;
  text-align: right;
}

.container .top-nav-container .center-top-nav-container .icon-right i {
  width: 19%;
}

/*---------------------------- BOTTOM NAV CONTAINER -------------------------------*/
.container .bottom-nav-container {
  width: 100%;
}

.container .bottom-nav-container div {
  display: inline-block;
  vertical-align: top;
}

/*---------------------------- LEFT CONTAINER -------------------------------*/
.container .bottom-nav-container .left-container {
  background-color: white;
  height: 35rem;
  width: 21%;
  font-size: 14px;
}

.container .bottom-nav-container .left-container .left {
  line-height: 4rem;
}

.container .bottom-nav-container .left-container ul {
  line-height: 3.1;
  width: 18.5rem;
}

.container .bottom-nav-container .left-container ul li {
  list-style-type: none;
  padding-left: 26px;
}

.container .bottom-nav-container .left-container i {
  color: black;
  width: 2.1rem;
}

.container .bottom-nav-container .left-container .left .content .top li:hover {
  background-color: #faf9f8;
}

.container .bottom-nav-container .left-container .left .content .line {
  margin: 9px 16px;
  height: 1px;
  background-color: #e7e6e5;
  list-style-type: none;
}

.container .bottom-nav-container .left-container .left .new {
  width: 100%;
}

.container .bottom-nav-container .left-container .left .new,
.container .bottom-nav-container .left-container .left .new i {
  color: #2564cf;
}

.container .bottom-nav-container .left-container .left .new div {
  display: inline-block;
}

.container .bottom-nav-container .left-container .left .new .new-list {
  width: 50%;
  padding-left: 25px;
}

.container .bottom-nav-container .left-container .left .new .square {
  text-align: right;
  width: 28%;
}

.container .bottom-nav-container .left-container .left-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 15px 15px 15px 10px;
  text-align: center;
}

.container .bottom-nav-container .left-container .left-bottom i {
  width: 3rem;
}

.container .bottom-nav-container .left-container .left-bottom i:hover {
  background-color: #faf9f8;
}

.container .bottom-nav-container .left-container .left-bottom div:last-child {
  color: #2564cf;
}

.container .bottom-nav-container .left-container .left .bar {
  padding-left: 26px;
  height: 67px;
}

/*---------------------------- CENTER CONTAINER -------------------------------*/
.container .bottom-nav-container .center-container {
  background-color: #faf9f8;
  height: 35rem;
  width: 78.5%;
  border-left: 1px solid #e7e6e5;
  padding-top: 5px;
}

.container .bottom-nav-container .center-container .content-one {
  margin: 20px 20px 20px 33px;
  width: 95%;
  line-height: 1.7;
}

.container .bottom-nav-container .center-container .center .content-two,
.container .bottom-nav-container .center-container .center .content-three {
  border: 1px solid #e7e6e5;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 4px 6px -6px #a5a5a5;
}

.container .bottom-nav-container .center-container .center .content-three {
  background-color: white;
  margin-top: 11px;
}

.container .bottom-nav-container .center-container .content-one .top-content {
  width: 100%;
}

.container .bottom-nav-container .center-container .content-one .top-content li {
  list-style-type: none;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-left {
  width: 69%;
  font-size: 20px;
  font-weight: 600;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-left i {
  width: 1.8rem;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-right {
  text-align: right;
  width: 29%;
  font-size: 14px;
  color: #858383;
  font-weight: 100;
  padding-top: 5px;
}

.container .bottom-nav-container .center-container .content-one .period,
.container .bottom-nav-container .center-container .center .content-three .middle-content1 .task .period {
  font-size: 12px;
  color: #858383;
  font-weight: 100;
  width: 100%;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-right .sort,
.container .bottom-nav-container .center-container .content-one .top-content .top-content-right .suggestion {
  width: 40%;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-right .sort i {
  transform: rotate(90deg);
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-left ul li {
  display: inline-block;
  list-style-type: none;
  width: 7rem;
}

.container .bottom-nav-container .center-container .content-one .top-content .top-content-right i {
  font-size: 16px;
  text-align: center;
  width: 23%;
  color: grey;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content,
.container .bottom-nav-container .center-container .center .content-two .middle-content-one {
  width: 98%;
}

.container .bottom-nav-container .center-container .content-one .top-content div,
.container .bottom-nav-container .center-container .center .content-two .middle-content div,
.container .bottom-nav-container .center-container .center .content-two .middle-content-one div,
.container .bottom-nav-container .center-container .center .content-two .middle-content-two div {
  display: inline-block;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content {
  background-color: white;
  padding: 15px 3.5px 15px 25px;
  border-bottom: 1px solid #e7e6e5;
  width: 97.2%;
}

.container .bottom-nav-container .center-container .center .content-three .middle-content1 {
  background-color: white;
  padding: 10px 3.5px 6px 25px;
  border-bottom: 1px solid #e7e6e5;
  width: 97.2%;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content .circle,
.container .bottom-nav-container .center-container .center .content-three .middle-content1 .circle {
  width: 3%;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content .circle i,
.container .bottom-nav-container .center-container .center .content-three .middle-content1 .circle i,
.container .bottom-nav-container .center-container .center .content-two .middle-content .addTask ::placeholder,
.container .bottom-nav-container .center-container .center .content-three .middle-content1 .star i {
  color: #2564cf;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content .addTask {
  width: 96%;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content .addTask #add {
  border: none;
  outline: none;
  width: 100%;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content-one {
  padding: 5px 0px 5px 25px;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content-one .new-one {
  width: 93.5%;
  padding-top: 5px;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content-one .new-one div {
  width: 3.5%;
}

.container .bottom-nav-container .center-container .center .content-three .middle-content1 .task {
  width: 93%;
}

.container .bottom-nav-container .center-container .center .content-three .middle-content1 .task .new {
  font-size: 14px;
}

.container .bottom-nav-container .center-container .center .content-three .middle-content1 .circle,
.container .bottom-nav-container .center-container .center .content-three .middle-content1 .star {
  padding-top: 6px;
}

.container .bottom-nav-container .center-container .center {
  width: 96%;
  margin: 0px 20px 0px 20px;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content-one .new-two {
  width: 4%;
}

.container .bottom-nav-container .center-container .center .content-two .middle-content-one .new-two button {
  padding: 7px;
  background-color: white;
  border: 1px solid #e7e6e5;
  color: #a19d9c;
}

.container .bottom-nav-container .left-container .left .bar i {
  margin-top: 2rem;
}

.container .bottom-nav-container .left-container .left .content .top li:first-child {
  border-left: 2px;
  border-left-style: solid;
  border-color: #2564cf;
  background-color: rgb(235, 247, 252);
}